.title {
  font-weight: 700;
  font-size: 36px;
  align-items: center;
  padding: 48px 0 32px 0;
}

.info {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 80px;
}

.name {
  font-weight: 700;
  font-size: 18px;  
}

.feedback{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 150px;
}