.header {
  position: relative;
}

.overflow {
  overflow: hidden;
}

.hamburger-menu {
  display: flex;
  align-items: center;
}

.hamburger-icon {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin-right: 10px;
}
.nav {
  display: flex;
  align-items: center;
}
/* .menuItems {
} */

.menu-items li {
  margin-bottom: 10px;
}

.menu-items a {
  text-decoration: none;
  color: #333;
}

.menuAndClose {
  background: transparent;
  border: none;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burgerMenu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  z-index: 100;

  /* Анімація */
  animation: slideIn 0.4s ease forwards;
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.burgerMenu.open {
  transform: translateX(0);
}

.wrapBurger {
  padding: 0 12px;
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  margin: 32px 0;
}

.links {
  font-size: 18px;
  font-weight: 600;
}

.btnShopping {
  background-color: rgb(107, 6, 9);
  color: white;
  width: calc(100% - 24px);
  padding: 10px;
  margin: 0 12px;
  border-radius: 25px;
  border-top: 2px solid #954d4f;
  border-bottom: 2px solid #570608;
}

@media (min-width: 768px) {
  .logoOpenMenu {
    display: none;
  }
  .burgerMenu {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 470px;
    background: #fff;
    display: flex;
    flex-direction: column;
    z-index: 100;
    padding-top: 70px;
    /* Анімація */
    animation: slideIn 0.4s ease forwards;
  }
  .menuAndClose {
    background: transparent;
    border: none;
    position: absolute;
    top: 28px;
    right: 24px;
  }
}

@media (min-width: 1440px) {
  .burgerMenu {
    display: none;
  }
  .menuAndClose {
    display: none;
  }
  .desktopMenu {
    display: flex;
    align-items: center;
    padding: 0;
  }
  .menuItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    margin: 32px 0;
  }
  .btnShopping {
    display: block;
    background-color: rgb(107, 6, 9);
    color: white;
    /* width: calc(100% - 24px); */
    padding: 10px;
    height: 42px;
    width: 130px;

    border-radius: 25px;
    border-top: 2px solid #954d4f;
    border-bottom: 2px solid #570608;
  }
}
