.header {
  position: relative;
  padding: 0 24px;
}

.hamburger-menu {
  display: flex;
  align-items: center;
}

.hamburger-icon {
  width: 30px;
  height: 3px;
  background-color: #333;
  margin-right: 10px;
}
.nav{
  display: flex;
  align-items: center;
}
.menuItems {
}

.menu-items li {
  margin-bottom: 10px;
}

.menu-items a {
  text-decoration: none;
  color: #333;
}

.desktopMenu {
  display: none;
  list-style: none;
  padding: 0;
}

.menuAndClose {
  background: transparent;
  border: none;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.burgerMenu {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  right: -100%;
  display: none;
}
.open {
  right: 0;
  display: block;
}

.wrapBurger{
  padding: 0 12px;
  margin: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuItems{
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 32px 0;
}

.links{
  font-size: 18px;
  font-weight: 500;
}

.btnShopping{
  background-color: rgb(107, 6, 9);
  color: white;
  width: calc(100% - 24px);
  padding: 12px;
  margin: 0 12px;
  border-radius: 25px;
}