.popularItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  max-width: 100px;
}

/* .image{
    width: 80vw;
    border-radius: 16px;
} */