.section {
  background-color: #6b0609;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}

.socialIcons {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 30px 0;
}

.linksContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.links {
  font-weight: 400;
  font-size: 16px;
}

.links:hover {
  text-decoration: underline;
}

.socialIcon {
  color: white;
}
.socialIcon:hover {
  color: black;
  cursor: pointer;
}

@media (min-width: 768px) {
  .linksContainer {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    gap: 24px;
  }
}

@media (min-width: 1440px) {
  .linksContainer {
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
  }
  .section {
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 24px;
    justify-content: center;
    align-items: center;
  }
  .socialIcons {
    display: flex;
    gap: 26px;
    padding: 30px 0;
    align-items: center;
  }
  .socialIcon {
    color: white;
  }
  .socialIcon:hover {
    color: black;
  }
}
