.description {
  margin: 48px 0 40px 0;
}

.title {
  font-weight: 700;
  font-size: 36px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
}

.categoriesList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.categoryItem {
  position: relative;
  width: calc(50% - 8px);
}

.categoryName {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}
.categoryImg {
  width: 100%;
  height: auto;
  transition: 0.3s;
  border-radius: 8px;
  filter: grayscale(40%);
}

.categoryBtn {
  border: none;
  display: block;
  transition: 0.3s;
  border-radius: 8px;
}

.activeImg {
  outline: 8px solid #810004;
  outline-offset: -8px;
}

.furnitureList {
  padding: 40px 0;
}

.furnitureItems {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.furnitureItem {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.furnitureInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.furnitureImg {
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
}

.furnitureName {
  font-size: 18px;
  font-weight: 600;
}

.colorContainer {
  display: flex;
  gap: 8px;
}

.furnitureDetailsBtn {
  border-radius: 24px;
  background: #f2f3f2;
  padding: 10px;
  border-bottom: 2px solid #e6e8e6;
}

.showMoreBtn {
  background-color: rgb(107, 6, 9);
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border-top: 2px solid #954d4f;
  border-bottom: 2px solid #570608;
  margin-top: 32px;
  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .categoryItem{
    position: relative;
    width: calc(25% - 8px);
}
.furnitureItem{
  display: flex;
    flex-direction: column;
    gap: 24px;
    width: 48%;
}
}


/* @media (min-width: 1440px) {
  .categoryItem{
    position: relative;
    width: 199px;
}
.furnitureItem{
  display: flex;
    flex-direction: column;
    gap: 24px;
    width: calc(25% - 12px);
}
} */
