.hero {
  height: 600px;
  background-image: url("../../assets/heroBG.svg");
  background-position: center;
  background-size: cover; /* Adjust as needed: 'contain', '100% 100%', etc. */
  background-repeat: no-repeat;
  color: white;
}

.heroDescription {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 24px;
  padding: 136px 0;
}

.heroTitle {
  font-weight: 700;
  font-size: 40px;
  text-align: left;
}

.heroSubtitle {
  font-weight: 400;
  font-size: 18px;
}

.heroButton {
  background-color: rgb(107, 6, 9);
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border-top: 2px solid #954d4f;
  border-bottom: 2px solid #570608;
}
