.hero {
  height: 600px;
  background-image: url("../../assets/heroBGMob.svg");
  background-position: center;
  background-size: cover; /* Adjust as needed: 'contain', '100% 100%', etc. */
  background-repeat: no-repeat;
  color: white;
}

.heroDescription {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 24px;
  padding: 136px 0;
}

.heroTitle {
  font-weight: 700;
  font-size: 40px;
  text-align: left;
}

.heroSubtitle {
  font-weight: 400;
  font-size: 18px;
  padding: 24px 0 32px 0;
}

.heroButton {
  background-color: rgb(107, 6, 9);
  color: white;
  width: 100%;
  padding: 10px;
  border-radius: 25px;
  border-top: 2px solid #954d4f;
  border-bottom: 2px solid #570608;
}
.heroButton:hover {
    width: 110%;
    background-color: rgb(145, 21, 25);
  }

@media (min-width: 768px) {
  .hero {
    background-image: url("../../assets/heroBGTab.svg");
    height: 396px;
  }
  .heroDescription {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 24px;
    padding: 80px 0;
    width: 580px;
  }
  .heroTitle {
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
  }
  .heroSubtitle {
    font-weight: 400;
    font-size: 18px;
  }
  .heroButton {
    background-color: rgb(107, 6, 9);
    color: white;
    width: 210px;
    padding: 10px;
    border-radius: 25px;
    border-top: 2px solid #954d4f;
    border-bottom: 2px solid #570608;
    font-size: 16px;
    transition: 1s;
  }
  .heroButton:hover {
    width: 215px;
    background-color: rgb(145, 21, 25);
  }
}

@media (min-width: 1440px) {
  .hero {
    background-image: url("../../assets/heroBGDesk.svg");
    height: 507px;
  }
  .heroDescription {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 24px;
    padding: 92px 0;
    width: 100%;
  }
  .heroDesktop {
    width: 560px;
  }
  .heroSubtitle {
    margin: 24px 0 32px 0;
  }
  .heroTitle {
    font-weight: 700;
    font-style: Bold;
    font-size: 56px;
  }
}
